.exp-wrapper ul
{
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.exp-wrapper ul li 
{
    width: 45%;
    display: flex;
    height: 200px;
    margin-bottom: 30px;
}
.exp-card .exp-img-container
{
width: 40%;
}
.exp-card .exp-content
{
    width: 60%;
    padding: 20px;
}
.exp-img-container img
{
    max-width: 100%;
    max-height: 100%;
}
.exp-content h4
{
    font-size: 16px;
    color: #9a9a9a9a;
    font-weight: normal;
    letter-spacing: 2px;
}
.exp-content h1
{
    font-size: 20px;
    color: #555555;
    font-weight: bold;
    
}
.exp-content p
{
    font-size: 14px;
    color: #9a9a9a9a;
    text-align: left;
    
}
.exp-content button
{
    background-color: #E27D60;
    border-radius: 30px;
    color: #ffffff;
    padding: 5px 20px;
    border: none;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 400;
    float: right;
    cursor: pointer;
}
.exp-content
{
    padding-left: 20px;
}


.exp-card-2,.exp-card-2 h1,.exp-card-2 p,.exp-card-2 h4
{
    color: white;
}
.exp-card-2 button
{
    background-color: white;
    color:#e8a87c ;
}


.exp-card-1 button:hover
{
    background-color: #e8a87c;
}

.exp-card-4 button:hover
{
    background-color: lightblue;
}

.exp-card-3
{
    background-color: rgba(3,169,244,.7);
}
.exp-card-3,.exp-card-3 h1,.exp-card-3 p,.exp-card-3 h4
{
    color: white;
}
.exp-card-3 button
{
    background-color: white;
    color: rgba(3,169,244,.7);
}
.exp-card-4
{
    /* border: 1px solid rgba(3,169,244,.7); */
}
.exp-card-4 button
{
    color:white ;
    background-color: rgba(3,169,244,.7);
}
.btn-showMore
{
    border: 2px solid #e8a87c;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 5px 50px;
    color: #e8a87c;
    font-weight: bold;
    cursor: pointer;
}
.showMore
{
    text-align: center;
}
.btn-showMore:hover
{
    
    background-color: #e8a87c;
    
    color: white;
   
}



@media(max-width:1199px)
{
    .exp-wrapper ul
    {
        justify-content: center;
    }
    .exp-wrapper ul li
    {
        width: 65%;
    }
}
@media(max-width:991px)
{
   
    .exp-wrapper ul li
    {
        width: 80%;
    }
}
@media(max-width:767px)
{
   
    .exp-wrapper ul li
    {
        width: 100%;
    }
}
@media(max-width:527px)
{
     .exp-card{
        width: 60% !important;
        flex-direction: column;
     }
     .exp-img-container
     {
         width: 100% !important;
     }
     .exp-content
     {
         width: 100% !important;
     }
     .exp-wrapper ul li
     {
         height: auto;
     }
}
@media(max-width:427px)
{
    .exp-card{
        width: 80% !important;
       
     }
}