.Minh-mainpicture{
    display:flex;
    flex-direction: column;
    width:50%;
    padding-top: 90px;
}

.img-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    
    z-index: -1;
    
}
.Minh-container{
    position:relative;
    width: 100%;
    
    color: black;
    display:flex;

}
.searchbar{
  margin-top:20px;

 }

  
input:hover {
    border: 1px solid green;
    outline: 0px solid green;
    box-shadow: 0px 1px 5px 1px rgb(223, 223, 223);
  }

.slogan-container{
    display:flex;
    justify-content: center;
}
.search-container{
    display:flex;
    
}
.Minh-search{
    margin-left: 45px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: 25px;
    width: 550px;
    background-color: white;
    display: flex;
}
.Minh-search .empty-div{
    position: absolute;
    left: 0;
    font-size: 30px;
    height: 54px;
    width: 54px;
    
}
.Minh-search i{
    position: absolute;
    left: 0;
    font-size: 20px;
    height: 54px;
    display: flex;
    justify-content: center;
    /* align-self: center; */
    width: 54px;
    align-items: center;
} 
.Minh-search input
{
    margin-left: 54px;
    width: 350px;
    height: 54px;
    border: none;
}
.Minh-search .search-btn
{
    position: absolute;
    right: 0;
}
.Minh-search input:hover
{
outline: none;
}
textarea:focus, input:focus{
    outline: none;
}
.Minh-search button
{
    position: absolute;
    height: 54px;
    background: #03a9f4;
    border-color: #03a9f4;
    text-transform: uppercase;
    color: white !important;
}
.Minh-search button:hover
{
    background: #2ebcfc;
    border-color:#2ebcfc ;
}
.jumbotron-wrapper{
    display:flex;
}
.jumbotron-background-img
{
    opacity: 0.6;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("./Img/jumbotron-background.jpg");
    background-size: cover;
    z-index: 0;
}
.Minh-section{
    position:relative;
    height:auto;
    display:flex;
    background: linear-gradient(135deg,rgba(3,169,244,.35) 0,rgba(167,219,216,.35) 44%,rgba(243,134,48,.35) 100%) rgba(0,0,0,.15);
}
.minhtext-wrapper{
    width:100%;
}
.Minh-mainpicture{
  
    color:white;
    z-index: 10;
}
.Minh-slider
{
width: 50%;
display:flex;
justify-content:center;
align-items: center;
z-index: 10;
flex-direction: column;
}
.minh-slider-all{
    

    width: 250px;
    height:250px
}
.minh-slider-all .minh-slide-change
{
    bottom: -20px;
}
.small-text{
    padding-top: 20px;
}
.text-local{
    font-size: 66px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 70px;
}
.title-wrapper{
    display:flex;
    justify-content: flex-end;
    color:lightgray;
}
.big-title>h1{
   font-weight: 800;
   color:whitesmoke;
   cursor: pointer;
    font-size: 24px;

}
.show-text{
    font-size: 44px;
    text-transform: uppercase;
    line-height: 44px;
}
.minh-carousel-item img{
    max-width: 100%;
    max-height: 100%;
} 
.minh-slide-change li
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.Minh-mainpicture
{
    padding-bottom: 33px;
}
.top-destination
{
    margin-top: 20px;
}
.top-destination p a
{
    text-decoration: none;
    color: white;
    font-weight: 100;
}
.top-destination p
{
    font-weight: 700;
}
.top-destination p a:hover
{
    text-decoration: underline;
    
}

@media(max-width:1023px)
{
    .Minh-slider
    {
        display: none;
    }
    .Minh-mainpicture
    {
        width: 100%;
    }
    .minhtext-wrapper {
        width: 94%;
    }
    .Minh-search
    {
        width: 850px;
    }
}
@media(max-width:991px)
{
    
    .Minh-mainpicture
    {
        width: 100%;
    }
    .minhtext-wrapper {
        width: 94%;
    }
    .Minh-search
    {
        width: 500px;
    }
}
@media(max-width:767px)
{
    .Minh-search
    {
        width: 400px;
    }
}
@media(max-width:720px)
{
    .text-local
    {
        font-size: 38px;
       
        line-height: 48px;
    }
    .show-text {
        font-size: 22px;
        text-transform: uppercase;
        line-height: 22px;
    }
    .Minh-mainpicture
    {
        padding-top: 0px;
        padding-bottom: 33px;
    }
    .Minh-section
    {
        height: auto;
    }
}
@media(max-width:460px)
{
    .Minh-search
    {
        width: 300px;
    }
    .disapear-mobile
    {
        display: none;
    }
}


