nav {
    font-size: 14px;
    background-color: #fff !important;
    font-weight: 700;
    position: fixed !important;
    width: 100%;
    z-index: 10000000;
    border-bottom: 1px solid lightgray;
}
.navbar-nav li:hover>.dropdown-menu {
    display: block;
  }

.navbar-brand {
    width: 150px;
}

.btn-duy-login {
    cursor: pointer;
    color: #888;
    background-color: white;
    border-color: #888;
    font-size: 12px;
    line-height: 1.2;
    padding: 7px 22px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
}

.btn-duy-login:hover {
    color: white;
    background-color: #888;
    border-color: #888;
}

.btn-duy-register {
    color: black;
    font-size: 12px;
    line-height: 1.2;
    padding: 7px 22px;
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 1px;
    font-weight: 800;
    background: #f38630 !important;
    border: 2px solid #f38630 !important;
    
}
.btn-duy-register:hover {
    
    background: rgb(221, 106, 74) !important;
    border: 2px solid rgb(221, 106, 74)!important;
    
}

.BG-footer {
    background-color: #323337;
}

.makecolor {
    color: #fff;
}

.makecolor-ul {
    color: #45c0f7 !important
}

.morecolor {
    color: white;
    font-size: 50px;
}

.makecolor-twiter {
    color: white;
    font-size: 50px;
}

.duy-icon {
    cursor: pointer;
}

.mobile-footer-duy {
    text-align: center !important;
}

.navbar-nav .language {
    display: flex;
    justify-content: space-between;
}

.navbar-nav .language a {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar-nav .language a:hover {
    font-size: 12px;
    color: #919496;
    text-decoration: none;
    margin-right: 10px;
}