nav {
    font-size: 14px;
    background-color: #fff !important;
    font-weight: 700;
    position: fixed !important;
    width: 100%;
    z-index: 10000000;
    border-bottom: 1px solid lightgray;
}

.navbar-brand {
    width: 150px;
}

.btn-duy-login {
    cursor: pointer;
    color: black;
    background-color: white;
    border-color: #888;
    font-size: 12px;
    line-height: 1.2;
    padding: 7px 22px;
}

.btn-duy-login:hover {
    color: white;
    background-color: #888;
    border-color: #888;
}

.btn-duy-register {
    color: black;
    font-size: 12px;
    line-height: 1.2;
    padding: 7px 22px;
}

.BG-footer {
    background-color: #323337;
}

.makecolor {
    color: #fff;
}

.makecolor-ul {
    color: #45c0f7 !important
}

.morecolor {
    color: white;
    font-size: 50px;
}

.makecolor-twiter {
    color: white;
    font-size: 50px;
}

.duy-icon {
    cursor: pointer;
}

.mobile-footer-duy {
    text-align: center !important;
}