.section-title {
    font-weight: 800;
    padding: 24px 12px 6px;
    color: #323337;
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}

#more {
    display: none;
}

#readMoreBtn {
    color: #03a9f4;
    cursor: pointer;
}

#readMoreBtn:hover {
    color: #03a9f4;
    cursor: pointer;
    text-decoration: underline;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f0f2e9 !important;
}

.savetime-banner .savetime-banner-content {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-image: url("https://www.showaround.com/src/images/a0ea883b8ea2a65b92a3d72590a2c0ce.png") !important;
    background-position-x: center;
    background-position-y: center;
    background-size: 600px 160px;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(250, 251, 246);
}

.savetime-banner-content h3 {
    font-size: 26px;
    color: #323337;
    font-weight: 900;
    text-align: center;
}

.savetime-banner-content h3 span {
    font-size: 26px;
    color: #323337;
    font-weight: 900;
    text-align: center;
}

.savetime-banner-content ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 20px;
}

.savetime-banner-content ul li {
    font-size: 20px;
    margin-right: 20px;
}

.savetime-banner-content ul li span {
    /* padding: 20px; */
    height: 46px;
    width: 46px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-align: center;
    background-color: aqua;
}

.savetime-banner-content a {
    font-size: 16px;
    width: 250px;
    height: 41px;
    background: #03a9f4;
    border: 2px solid #03a9f4;
    padding: 5px 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: #fff !important;
    margin-top: 30px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.savetime-banner-content a:hover {
    background: #0286c2;
    border-color: #0286c2;
}

.video-section {
    position: relative;
}

.video-section .carousel-inner {
    height: 510px;
}

.video-section .carousel-item {
    background-color: black
}

.video-section .carousel-item img {
    opacity: 0.6;
}

.video-section .carousel-item-content {
    position: absolute;
    z-index: 10;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.video-section .carousel-item-content h2 {
    font-weight: 800;
    font-size: 50px;
    color: white;
}

.video-section .carousel-item-content .watch-video i {
    font-size: 150px;
    color: white;
}

.video-section .carousel-item-content .watch-video {
    opacity: 0.75;
    color: white;
    margin-bottom: 40px;
}

.video-section .carousel-item-content .watch-video:hover {
    color: white;
    opacity: 1 !important;
    cursor: pointer;
}

.video-section .carousel-item-content .view-profile-btn {
    padding: 6px 20px;
    font-size: 14px;
    background: rgba(0, 0, 0, .5);
    color: white;
    margin-top: 42px;
    border-radius: 5px;
}

.video-section .carousel-item-content .view-profile-btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.video-section .slide-process-bao {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    bottom: 0;
}

.video-section .slide-process-bao li {
    width: 100%;
    height: 72px;
    background: none !important;
    text-indent: unset;
    display: flex;
    justify-self: flex-start;
    opacity: 0.5;
}

.video-section .slide-process-bao li:hover {
    cursor: pointer;
}

.video-section .carousel-indicators .active {
    border-bottom: 6px solid #f38630;
    opacity: 1 !important;
}

.video-section .slide-process-bao li .slide-process-img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.video-section .slide-process-bao li .slide-process-img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.video-section .slide-process-bao li .slide-process-content {
    color: white;
}

.video-section .slide-process-bao li .slide-process-content span {
    font-size: 15px;
}

.video-section .slide-process-bao li .slide-process-content p {
    color: #dde0c9;
}
@media(max-width:1023px)
{
    .video-section .slide-process-bao
    {
        width: 90%;
    }
}
@media(max-width:991px)
{
    .savetime-banner-content ul
    {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .savetime-banner-content ul li
    {
        margin-bottom: 20px;
    }
    .savetime-banner .savetime-banner-content
    {
        background-size: cover;
    }
    .video-section .carousel-inner
    {
        height: 610px;
    }
    .video-section .carousel-item img
    {
        width: auto !important;
    }
    .video-section .slide-process-bao li .slide-process-content span
    {
        font-size: 12px;
    }
    .video-section .slide-process-bao li .slide-process-content p
    {
        font-size: 12px;
    }
    .video-section .slide-process-bao li .slide-process-img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
}
@media(max-width:720px)
{
    .video-section .slide-process-bao li .slide-process-content
    {
        display: none;
    }
    .video-section .slide-process-bao li
    {
        justify-content: center;
    }
    .video-section .carousel-item-content h2
    {
        font-size: 25px;
    }
    .video-section .carousel-item-content .watch-video i
    {
        font-size: 75px;
    }
    .video-section .carousel-inner
    {
        height: 410px;
    }
}
@media(max-width:430px)
{
    .savetime-banner-content ul li
    {
        font-size: 15px;
    }
    .savetime-banner-content ul
    {
        padding: 10px;
    }
    .savetime-banner-content ul
    {
        margin-bottom: 0px !important;
    }
   
}
